# Zig build outputs
zig-out/
.zig-cache/

# Flatpak build artifacts
flatpak-build/
flatpak-repo/

# Emacs backup files
*~
\#*\#
.\#*

# Editor files
*.swp
*.swo
.DS_Store

# IDE
.idea/
.vscode/
*.code-workspace

# OS
Thumbs.db